html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
}

.display {
	text-align: right;
}

.buttons {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

button:nth-child(17) {
	grid-column: span 2;
}
