html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 75vh;
	background-color: black;
	font-family: monospace;
}

.calculator {
	width: 300px;
}

.display {
	text-align: right;
	background-color: white;
}

#equationDisplay {
	height: 50px;
	font-size: 20px;
	padding: 20px 10px 10px 10px;
	color: grey;
}

#mainDisplay {
	height: 50px;
	padding: 9px 10px;
	font-size: 32px;
}

.buttons {
	height: 300px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

button {
	border: 0px;
	font-weight: bold;
	font-size: 20px;
}

.operator {
	color: cadetblue;
}

.equals {
	background-color: cadetblue;
	color: white;
}

.function {
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	color: cadetblue;
}

button:nth-child(17) {
	grid-column: span 2;
}
